DB_URL=jdbc:postgresql://HOST/DB?sslmode=require
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_password
GESTOPAGO_AUTH_PASSWORD=tu_password_gestopago
GESTOPAGO_PRODUCTOS_TOKEN=tu_token_bearer
MONGO_URI=mongodb+srv://usuario:password@cluster/?retryWrites=true&w=majority
ZIPCODESTACK_API_KEY=tu_api_key_zipcodestack
JWT_SECRET=REEMPLAZA_POR_UN_SECRETO_DE_32_CARACTERES_MIN
